# Assignment-3 Solution: Pandas

In [ ]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana', 'Charlie', 'Eve', 'Frank', 'Grace', 'Hank'],
    'Age': [23, 25, 22, 24, 23, 26, 29, 21, 27],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks': [85, 90, 88, 92, 79, 95, 80, 87, 91]
}
df = pd.DataFrame(data)
df

In [ ]:
df.loc[[0, 4, 7, 8]]

In [ ]:
df.iloc[3:8]

In [ ]:
df.iloc[4:9, 2:5]

In [ ]:
df.iloc[:, 1:4]

In [ ]:
iris_df = pd.read_csv('iris.csv')
iris_df.head()

In [ ]:
iris_modified = iris_df.drop(index=4)
iris_modified = iris_modified.drop(iris_modified.columns[3], axis=1)
iris_modified

In [ ]:
employee_data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
emp_df = pd.DataFrame(employee_data)

In [ ]:
emp_df.shape

In [ ]:
emp_df.info()

In [ ]:
emp_df.describe()

In [ ]:
emp_df.head()

In [ ]:
emp_df.tail(3)

In [ ]:
emp_df['Salary'].mean()

In [ ]:
emp_df['Bonus'].sum()

In [ ]:
emp_df['Age'].min()

In [ ]:
emp_df['Rating'].max()

In [ ]:
emp_df.sort_values(by='Salary', ascending=False)

In [ ]:
emp_df['Performance'] = pd.cut(emp_df['Rating'], 
                              bins=[0, 4.0, 4.5, 5.0], 
                              labels=['Average', 'Good', 'Excellent'], 
                              right=False)
emp_df

In [ ]:
emp_df.isnull().sum()

In [ ]:
emp_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
emp_df

In [ ]:
emp_df[emp_df['Years_of_Experience'] > 5]

In [ ]:
emp_df[emp_df['Department'] == 'IT']

In [ ]:
emp_df['Tax'] = emp_df['Salary'] * 0.10
emp_df

In [ ]:
emp_df.to_csv('modified_employees.csv', index=False)